ipykernel
langchain
langchain_community
langchain_core
langchain_huggingface
pydantic
bs4
langchain_groq
pypdf
dotenv
sentence-transformers<5
langchain_chroma
langchain_ollama
torch<2.11
transformers<5.0
langchain_docling
accelerate
fitz
frontend
ollama
pymupdf
pdfplumber
ipywidgets